<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<meta http-equiv="Content-Type"
		  content="text/html; charset=UTF-8" />
	<h:outputStylesheet library="css" name="styles.css"  />
	<h:outputScript library="js" name="jquery-1.11.3.min.js" />
	<h:outputScript library="js" name="bootstrap.min.js" />
	<h:outputScript library="js" name="myjs.js" />
	<title>OES Academy</title>
</h:head>
<h:body>

<div class="wrapper">
	<div class="page-header">
		<header>
			<div class="pull-right">
				<div class="right-btn-wrapper">
					<div class="login-btn"><a href="/#login" >Login</a></div>
					<div class="lang-btn"><a title="Change language" >Language</a></div>
				</div>
			</div>

			<div class="container">

				<div class="brand-wrapper pull-left">
					<div class="brand">
						<a href="/" ><h:graphicImage library="img" name="logo.png" /></a>
					</div>
				</div>

				<div class="nav-wrapper main-menu-wrapper">
					<nav class="navbar ">
						<ul class="nav navbar-nav main-menu">
							<li>
								<a href="#" id="go-home" >Home</a>
							</li>
							<li class="separator"></li>
							<li><a href="#" >About us</a></li>
							<li class="separator"></li>
							<li class="dropdown" ><a href="#" class="dropdown-toggle"  id="curses"  data-toggle="dropdown" >Courses</a>
								<ul class="dropdown-menu first-level curses" aria-labelledby="curses"  >
									<li class="dropdown-submenu"  id="dropdownMenu5" >
										<a  href="#" >Academic</a>
										<ul class="dropdown-menu  second-level" aria-labelledby="dropdownMenu5">
											<li><a href="#"    >GCSE</a></li>
											<li><a href="#"   >A Level</a></li>
											<li  class="dropdown-submenu"  id="dropdownMenu6">
												<a href="#"   > BTEC</a>
												<ul class="dropdown-menu third-level" aria-labelledby="dropdownMenu6">
													<li><a href="#"    >Level 1</a></li>
													<li><a href="#"   >Level 2</a></li>
													<li><a href="#"   >Level 3</a></li>
												</ul>
											</li>
											<li><a href="#"   > Higher Education</a></li>
										</ul>
									</li>
									<li class="dropdown-submenu">
										<a href="#"    >Professional</a>
										<ul class="dropdown-menu  second-level" >
											<li  class="dropdown-submenu">
												<a href="#">Software Development</a>
												<ul class="dropdown-menu  third-level" >
													<li><a href="#"    >Java</a></li>
													<li><a href="#"    >C++</a></li>
													<li><a href="#"    >C#</a></li>
													<li><a href="#"    >Python</a></li>
													<li><a href="#"    >Object Oriented Programming</a></li>
													<li class="dropdown-submenu ">
														<a href="#"    >Web Development</a>
														<ul class="dropdown-menu  last-level" >
															<li><a href="#"    >HTML</a></li>
															<li><a href="#"    >CSS</a></li>
															<li><a href="#"    >PHP</a></li>
															<li><a href="#"    >JavaScript</a></li>
															<li><a href="#"    >Java Server Pages</a></li>
														</ul>
													</li>
												</ul>
											</li>
											<li  class="dropdown-submenu">
												<a href="#">Applications</a>
												<ul class="dropdown-menu  last-level" >
													<li><a href="#" >Microsoft Office 2016</a></li>
												</ul>
											</li>
										</ul>
									</li>
								</ul>
							</li>
							<li class="separator"></li>
							<li><a href="#" >Vacancy</a></li>
							<li class="separator"></li>
							<li><a href="#" >Terms and conditions</a></li>
							<li class="separator"></li>
							<li><a href="#" >Contact us</a></li>
						</ul>
					</nav>
				</div>

				<p class="free-curses">Try out our free courses now — no credit card required. <button class="btn">View Free Courses</button></p>

			</div>
		</header>
	</div>
	<div class="first-screen-wrapper">

		<div class="slider-wrapper">
			<div id="myCarousel" class="carousel slide" data-ride="carousel">

				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
				</ol>

				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<h:graphicImage name="img/slide1.png" alt="slide1"/>
					</div>
					<div class="item">
						<h:graphicImage name="img/slide1.png" alt="slide1"/>
					</div>
					<div class="item">
						<h:graphicImage name="img/slide1.png" alt="slide1"/>
					</div>
				</div>

				<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>

		<div class="container">
			<h2> Why exactly only online classes?</h2>
			<p class="paragraph">
				OES has been founded in 2014. It consists of a group of developers, teachers and students, which develop educational software platforms and
				solutions to make the learning environment more interactive and highly accessible to everybody, including individuals, institutions and businesses of any Along with the educational
				solutions, we develop non-educational platforms and solutions as well, like web development, mobile application development and much more.
				Other platforms include support for international consultancy agencies regarding international studies, accommodation and immigration.OES also is in possession of an academy,
				which offers a variety of professional IT development courses including programming languages, professional qualifications training from top vendors, computer basics, and more.
				The idea of creating OES started in 2008, when a testing system has been developed and an update was necessary.
				In 2015, this upgrade made its way through e-LAT, a platform with a lot more functionalities and highly user friendly and intuitive interface.
				Our mission is to help individuals, institutions, businesses and everybody involved in education and outside it to have a better experience when combining education and IT
			</p>
		</div>

	</div>
	<div class="curse-screen-wrpapper">

		<div class="container">
			<div class="first-section" >

				<ul class="nav nav-tabs no-border">
					<li><a data-toggle="tab" href="#description">DESCRIPTION</a></li>
					<li><a data-toggle="tab" href="#menu1">METHOD OF TEACHING</a></li>
					<li><a data-toggle="tab" href="#menu2">PRICE AND VANUE</a></li>
				</ul>
				<div class="tab-content fade">
					<div id="description" class="tab-pane fade">
						<p class="title">MS Office MCAS/MOS Certification Course Description</p>
						<p>The Microsoft Certified Application Specialist (MCAS) certification is recognized worldwide as a standard for measuring expertise in working with the Microsoft Office suite of
							business productivity programs.</p>

						<p>Career advancement, personal improvement, skills enhancement, and higher salaries are some of the reason on why you would want get MCAS-certified. Also, you get to work
							with excellent products such as Word 2010, Excel 2010, PowerPoint 2010, and Outlook 2010.</p>

						<p>Earning MCAS certification validates that you have the expertise to work with Microsoft Office programs. Companies that have hired MCAS certified candidates have found better
							performance, competence and increased productivity.</p>

						<p>Since MCAS certification has become an employee selection and hiring criteria, it is now a must for individuals considering this IT field as their career paths. Look no further than
							Training Square training course on MCAS certification. The 6-week training or 5 days fast track program offered in London is instructor-led, hands-on, with unlimited practice
							hours, a practice test that mocks the real exam, and free books and course material included.</p>

						<p>Learning Microsoft Office skills is a goal to everyone who wants to pursue a career as a Microsoft Office Expert. At Training Square we deliver tutor led, hands on classroom-based
							training in a very professional environment by Certified and experienced Trainers who would patiently guide you to achieve your goal.</p>

						<p>If you are looking for job after the course we can certainly send your CV to prospective employers and the recruitment consultants or even help you to analyse
							and update your CV to make it looks professional.</p>

						<p>Our success lies on your success. Please call us on 0207 256 2268 and speak with our helpful course adviser and we will guide you through the enrollment process.</p>
					</div>
					<div id="menu1" class="tab-pane fade">
						<p class="title">METHOD OF TEACHING</p>
						<p>Some content in menu 1.</p>
					</div>
					<div id="menu2" class="tab-pane fade">
						<p class="title">PRICE AND VANUE</p>
						<p>Some content in menu 2.</p>
					</div>
				</div>

			</div>
			<div class="second-section">
				<h1><span>MS Office MCAS/MOS Certification Course</span></h1>
				<div class="second-section-wrapper">
					<div class="pull-right right-block">
						<h:form class="form-horizontal">
							<fieldset>
								<legend>BROCHURE REQUEST</legend>
								<span class="curse-title">MS Office MCAS/MOS Certification Course</span>
								<input id="name" name="name" type="text" placeholder="Name..." class="form-control input-md" required=""/>
								<input id="phone" name="phone" type="text" placeholder="Contact Number..." class="form-control input-md" required=""/>
								<input id="email" name="email" type="text" placeholder="Email..." class="form-control input-md" required=""/>
								<input id="msg" name="msg" type="text" placeholder="Message..." class="form-control input-md" required=""/>

								<button id="button" name="button" class="btn btn-success pull-right">Send</button>

								<div class="free-space"></div>

								<p class="label">PRICE:</p>
								<div class="price-wrapper">
									<p class="price">£1200</p>
								</div>
								<div class="my-btn-group">
									<button id="res-place" name="button" class="btn btn-success">Reserve Place</button>
									<button id="book" name="button" class="btn btn-success">Book Online</button>
								</div>
							</fieldset>
						</h:form>
					</div>
					<div class="curse-details-block">

						<div class="left-block">
							<p class="title">Course Overview:</p>
							<table>
								<tr>
									<td>
										<span class="text-blue" >Microsoft:</span>
										MCAS/MOS Certification</td>
									<td>
										<span class="text-blue" >Course Length:</span>
										4 Weeks or Fast Track 4 Days</td>
								</tr>
								<tr>
									<td>
										<span class="text-blue" >Delivery:</span>
										Instructor led hands-on, Classroom based</td>
									<td>
										<span class="text-blue" >Certification Exams:</span>
										Microsoft Word, Microsoft Excel, Microsoft
										PowerPoint, MS Outlook</td>
								</tr>
								<tr>
									<td>
										<span class="text-blue" >Includes:</span>
										Hands-on Training, Lab Exercises, Project work,
										Unlimited Lab Access, Free Re-training</td>
									<td>
										<span class="text-blue" >Locations:</span>
										Liverpool Street, London
										London Bridge, London
										Moorgate, London</td>
								</tr>
							</table>
						</div>
						<div class="banner">
							<h:graphicImage class="banner-img" src="#{resource['img/banner.png']}" alt="banner" />
						</div>

					</div>
				</div>
			</div>
			<div class="third-section">

				<ul class="nav nav-tabs">
					<li><a data-toggle="tab" href="#timetable">TIMETABLE</a></li>
					<li><a data-toggle="tab" href="#subjects">SUBJECTS</a></li>
					<li class="active"><a data-toggle="tab" href="#packge-offer">PACKAGE OFFER</a></li>
				</ul>
				<div class="tab-content fade">
					<div id="packge-offer" class="tab-pane fade in active">
						<div class="row">
							<div class="col col-lg-4">
								<div class="top-part">
									<p class="package-title heading">Career Package</p>
									<p>Web &amp; Graphic Design £1090</p>
									<span>+</span>
									<p>A+ Certification £850</p>
									<span>+</span>
									<p>MS Office (MOS) £1200</p>
								</div>
								<div class="bottom-part">
									<p class="offer-price heading">Offer Price £2800</p>
									<p>Total Price £3140</p>
									<p>Saving £340</p>
									<p>Request Info</p>
									<button class="btn btn-success" >REQUEST INFO</button>
								</div>
							</div>
							<div class="col col-lg-4">
								<div class="top-part">
									<p class="package-title heading">Specialised Package</p>
									<p>Web &amp; Graphic Design £1090</p>
									<span>+</span>
									<p>A+ Certification £850</p>
									<span>+</span>
									<p>MS Office (MOS) £1200</p>
								</div>
								<div class="bottom-part">
									<p class="offer-price heading">Offer Price £2800</p>
									<p>Total Price £3140</p>
									<p>Saving £340</p>
									<p>Request Info</p>
									<button class="btn btn-success" >REQUEST INFO</button>
								</div>
							</div>
							<div class="col col-lg-4">
								<div class="top-part">
									<p class="package-title heading">Professional Package</p>
									<p>Web &amp; Graphic Design £1090</p>
									<span>+</span>
									<p>A+ Certification £850</p>
									<span>+</span>
									<p>MS Office (MOS) £1200</p>
								</div>
								<div class="bottom-part">
									<p class="offer-price heading">Offer Price £2800</p>
									<p>Total Price £3140</p>
									<p>Saving £340</p>
									<p>Request Info</p>
									<button class="btn btn-success" >REQUEST INFO</button>
								</div>
							</div>
						</div>
					</div>
					<div id="timetable" class="tab-pane fade">
						<p class="title">METHOD OF TEACHING</p>
						<p>Some content in menu 1.</p>
					</div>
					<div id="subjects" class="tab-pane fade">
						<p class="title">PRICE AND VANUE</p>
						<p>Some content in menu 2.</p>
					</div>
				</div>

			</div>
		</div>

	</div>
	<div class="news-wrapper">
		<h2><span>NEWS</span></h2>
		<div class="container">
			<div class="news-tab">
				<div class="news-block">
					<div class="news-image">
						<h:graphicImage name="img/atricle.png" alt="news title text"/>
					</div>
					<div class="news-text">
						<p>
							Many of Steve Jobs' most inspiring and quotable lines come from his famous 2005 commencement speech at Stanford, when he told assembled graduates,
							"Your time is limited, so don't waste it living someone else's life."Many of Steve Jobs' most inspiring and quotable lines come from his famous 2005
							commencement speech at Stanford, when he told assembled graduates, "Your time is limited, so don't waste it living someone else's life."Many of Steve Jobs'
							most inspiring and quotable lines come from his famous 2005 commencement speech at Stanford, when he told assembled graduates,
							"Your time is limited, so don't waste it living someone else's life."Many of Steve Jobs' most inspiring and quotable lines come from his famous 2005
							commencement speech at Stanford, when he told assembled graduates,
						</p>
					</div>
					<div class="readmore-wrapper">
						<a class="readmore">More</a>
					</div>
				</div>
				<div class="news-block">
					<div class="news-image">
						<h:graphicImage name="img/atricle1.png" alt="news title text"/>
					</div>
					<div class="news-text">
						<p>
							Many of Steve Jobs' most inspiring and quotable lines come from his famous 2005 commencement speech at Stanford, when he told assembled graduates,
							"Your time is limited, so don't waste it living someone else's life."Many of Steve Jobs' most inspiring and quotable lines come from his famous 2005
							commencement speech at Stanford, when he told assembled graduates, "Your time is limited, so don't waste it living someone else's life."Many of Steve Jobs'
							most inspiring and quotable lines come from his famous 2005 commencement speech at Stanford, when he told assembled graduates,
							"Your time is limited, so don't waste it living someone else's life."Many of Steve Jobs' most inspiring and quotable lines come from his famous 2005
							commencement speech at Stanford, when he told assembled graduates,
						</p>
					</div>
					<div class="readmore-wrapper">
						<a class="readmore">More</a>
					</div>
				</div>
			</div>
			<div class="pagination-wrapper">
				<ul class="pagination pagination-sm" >
					<li  class="active"><a href="#">1</a></li>
					<li ><a href="#">2</a></li>
					<li ><a href="#">3</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="curses-list-wrapper">
		<h2><span>WHAT WE TEACH?</span></h2>
		<div class="curses-bg">
			<div class="container">

				<div class="row">
					<div class=" col col-lg-4 col-md-5">
						<div class="curses-block">
							<div class="curses-left pull-left">
								<div class="curses-image">
									<h:graphicImage name="img/pcc.png" alt="photoshop cc" />
								</div>
								<div class="my-btn-group">
									<button class="btn btn-default">MORE</button>
									<button class="btn btn-success">ADD TO CART</button>
								</div>
							</div>
							<div class="curses-right">
								<p class="curses-title">Photoshop CC</p>
								<p class="curses-info">
									OES has been founded in 2014. It consists of
									a group of developers, teachers and students,
									which develop educational software platforms
									and solutions to make the learning environment
									more interactive and highly accessible
									to everybody, including individuals, institutions
									and businesses of any size.
								</p>
							</div>
						</div>
					</div>
					<div class=" col col-lg-4 col-md-5">
						<div class="curses-block">
							<div class="curses-left pull-left">
								<div class="curses-image">
									<h:graphicImage name="img/pcc.png" alt="photoshop cc" />
								</div>
								<div class="my-btn-group">
									<button class="btn btn-default">MORE</button>
									<button class="btn btn-success">ADD TO CART</button>
								</div>
							</div>
							<div class="curses-right">
								<p class="curses-title">Photoshop CC</p>
								<p class="curses-info">
									OES has been founded in 2014. It consists of
									a group of developers, teachers and students,
									which develop educational software platforms
									and solutions to make the learning environment
									more interactive and highly accessible
									to everybody, including individuals, institutions
									and businesses of any size.
								</p>
							</div>
						</div>
					</div>
					<div class=" col col-lg-4 col-md-5">
						<div class="curses-block">
							<div class="curses-left pull-left">
								<div class="curses-image">
									<h:graphicImage name="img/pcc.png" alt="photoshop cc" />
								</div>
								<div class="my-btn-group">
									<button class="btn btn-default">MORE</button>
									<button class="btn btn-success">ADD TO CART</button>
								</div>
							</div>
							<div class="curses-right">
								<p class="curses-title">Photoshop CC</p>
								<p class="curses-info">
									OES has been founded in 2014. It consists of
									a group of developers, teachers and students,
									which develop educational software platforms
									and solutions to make the learning environment
									more interactive and highly accessible
									to everybody, including individuals, institutions
									and businesses of any size.
								</p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="teachers-list-wrapper">
		<h2>TEACHERS</h2>

		<div class="container">
			<div class="row">
				<div class=" col col-lg-4">
					<div class="teacher-block">
						<div class="teacher-photo">
							<h:graphicImage name="img/photo1.png" alt="Teacher 1" />
						</div>
						<div class="teacher-info">
							<p class="speciality">Web designer</p>
							<p class="info">I had never tried to learn code before
								out of fear that I wasn't 'techy enough'
								and probably not smart enough —
								I was a Mathlete...
							</p>
							<p class="name">Nick Sarlo</p>
						</div>
					</div>
				</div>
				<div class=" col col-lg-4">
					<div class="teacher-block">
						<div class="teacher-photo">
							<h:graphicImage name="img/photo2.png" alt="Teacher 2" />
						</div>
						<div class="teacher-info">
							<p class="speciality">Web designer</p>
							<p class="info">I had never tried to learn code before
								out of fear that I wasn't 'techy enough'
								and probably not smart enough —
								I was a Mathlete...
							</p>
							<p class="name">Trevor Elwell</p>
						</div>
					</div>
				</div>
				<div class=" col col-lg-4">
					<div class="teacher-block">
						<div class="teacher-photo">
							<h:graphicImage name="img/photo3.png" alt="Teacher 3" />
						</div>
						<div class="teacher-info">
							<p class="speciality">Web designer</p>
							<p class="info">I had never tried to learn code before
								out of fear that I wasn't 'techy enough'
								and probably not smart enough —
								I was a Mathlete...
							</p>
							<p class="name">Olga Ayvazyan</p>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="page-footer">
	<footer>
		<div class="container">
			<div class="nav-wrapper" >
				<nav class="navbar">
					<ul class="nav navbar-nav">
						<li><a href="">Create Free Account</a></li>
						<li><a href="">View Courses</a></li>
						<li><a href="">Suggest Course</a></li>
						<li><a href="">Suggest Feature</a></li>
						<li><a href="">Discuss</a></li>
						<li><a href="">Support</a></li>
					</ul>
				</nav>
			</div>

			<div class="nav-wrapper" >
				<nav class="navbar">
					<ul class="nav navbar-nav">
						<li><a href="">Contact Code School</a></li>
						<li><a href="">About</a></li>
						<li><a href="">Blog</a></li>
						<li><a href="">Jobs</a></li>
						<li><a href="">Terms of Use</a></li>
					</ul>
				</nav>
			</div>
		</div>

		<div class="social-block pull-right">
			<span><a href="#" alt="social"><h:graphicImage name="img/g-plus.png" alt="social icon"/></a> </span>
			<span><a href="#" alt="social"><h:graphicImage name="img/twitter.png" alt="social icon"/></a> </span>
			<span><a href="#" alt="social"><h:graphicImage name="img/fb.png" alt="social icon"/></a> </span>
			<span><a href="#" alt="social"><h:graphicImage name="img/insta.png" alt="social icon"/></a> </span>
			<span><a href="#" alt="social"><h:graphicImage name="img/vk.png" alt="social icon"/></a> </span>
		</div>
	</footer>
	</div>
</div>
</h:body>
</html>