<ui:composition     xmlns:ui="http://java.sun.com/jsf/facelets"
        >

    <div class="slider-wrapper">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">

            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="/oes/resources/img/slide1.png" alt="slide1"/>
                </div>

                <div class="item">
                    <img src="/oes/resources/img/slide1.png" alt="slide1"/>
                </div>

                <div class="item">
                    <img src="/oes/resources/img/slide1.png" alt="slide1"/>
                </div>

            </div>

            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

</ui:composition>