<ui:composition     xmlns:ui="http://java.sun.com/jsf/facelets"
                    xmlns:h="http://java.sun.com/jsf/html">
    <div class="curses-list-wrapper">
        <h2><span>WHAT WE TEACH?</span></h2>
        <div class="curses-bg">
            <div class="container">

                <div class="row">
                    <div class=" col col-lg-4 col-md-5">
                        <div class="curses-block">
                            <div class="curses-left pull-left">
                                <div class="curses-image">
                                    <h:graphicImage name="img/pcc.png" alt="photoshop cc" />
                                </div>
                                <div class="my-btn-group">
                                    <button class="btn btn-default">MORE</button>
                                    <button class="btn btn-success">ADD TO CART</button>
                                </div>
                            </div>
                            <div class="curses-right">
                                <p class="curses-title">Photoshop CC</p>
                                <p class="curses-info">
                                    OES has been founded in 2014. It consists of
                                    a group of developers, teachers and students,
                                    which develop educational software platforms
                                    and solutions to make the learning environment
                                    more interactive and highly accessible
                                    to everybody, including individuals, institutions
                                    and businesses of any size.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class=" col col-lg-4 col-md-5">
                        <div class="curses-block">
                            <div class="curses-left pull-left">
                                <div class="curses-image">
                                    <h:graphicImage name="img/pcc.png" alt="photoshop cc" />
                                </div>
                                <div class="my-btn-group">
                                    <button class="btn btn-default">MORE</button>
                                    <button class="btn btn-success">ADD TO CART</button>
                                </div>
                            </div>
                            <div class="curses-right">
                                <p class="curses-title">Photoshop CC</p>
                                <p class="curses-info">
                                    OES has been founded in 2014. It consists of
                                    a group of developers, teachers and students,
                                    which develop educational software platforms
                                    and solutions to make the learning environment
                                    more interactive and highly accessible
                                    to everybody, including individuals, institutions
                                    and businesses of any size.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class=" col col-lg-4 col-md-5">
                        <div class="curses-block">
                            <div class="curses-left pull-left">
                                <div class="curses-image">
                                    <h:graphicImage name="img/pcc.png" alt="photoshop cc" />
                                </div>
                                <div class="my-btn-group">
                                    <button class="btn btn-default">MORE</button>
                                    <button class="btn btn-success">ADD TO CART</button>
                                </div>
                            </div>
                            <div class="curses-right">
                                <p class="curses-title">Photoshop CC</p>
                                <p class="curses-info">
                                    OES has been founded in 2014. It consists of
                                    a group of developers, teachers and students,
                                    which develop educational software platforms
                                    and solutions to make the learning environment
                                    more interactive and highly accessible
                                    to everybody, including individuals, institutions
                                    and businesses of any size.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</ui:composition>