<ui:composition     xmlns:ui="http://java.sun.com/jsf/facelets"
                    xmlns:h="http://java.sun.com/jsf/html">
    <div class="news-wrapper">
        <h2><span>NEWS</span></h2>
        <div class="container">
            <div class="news-tab">
                <div class="news-block">
                    <div class="news-image">
                        <h:graphicImage name="img/atricle.png" alt="news title text"/>
                    </div>
                    <div class="news-text">
                        <p>
                            Many of Steve Jobs' most inspiring and quotable lines come from his famous 2005 commencement speech at Stanford, when he told assembled graduates,
                            "Your time is limited, so don't waste it living someone else's life."Many of Steve Jobs' most inspiring and quotable lines come from his famous 2005
                            commencement speech at Stanford, when he told assembled graduates, "Your time is limited, so don't waste it living someone else's life."Many of Steve Jobs'
                            most inspiring and quotable lines come from his famous 2005 commencement speech at Stanford, when he told assembled graduates,
                            "Your time is limited, so don't waste it living someone else's life."Many of Steve Jobs' most inspiring and quotable lines come from his famous 2005
                            commencement speech at Stanford, when he told assembled graduates,
                        </p>
                    </div>
                    <div class="readmore-wrapper">
                        <a href="#" class="readmore">More</a>
                    </div>
                </div>
                <div class="news-block">
                    <div class="news-image">
                        <h:graphicImage name="img/atricle1.png" alt="news title text"/>
                    </div>
                    <div class="news-text">
                        <p>
                            Many of Steve Jobs' most inspiring and quotable lines come from his famous 2005 commencement speech at Stanford, when he told assembled graduates,
                            "Your time is limited, so don't waste it living someone else's life."Many of Steve Jobs' most inspiring and quotable lines come from his famous 2005
                            commencement speech at Stanford, when he told assembled graduates, "Your time is limited, so don't waste it living someone else's life."Many of Steve Jobs'
                            most inspiring and quotable lines come from his famous 2005 commencement speech at Stanford, when he told assembled graduates,
                            "Your time is limited, so don't waste it living someone else's life."Many of Steve Jobs' most inspiring and quotable lines come from his famous 2005
                            commencement speech at Stanford, when he told assembled graduates,
                        </p>
                    </div>
                    <div class="readmore-wrapper">
                        <a href="#" class="readmore">More</a>
                    </div>
                </div>
            </div>
            <div class="pagination-wrapper">
                <ul class="pagination pagination-sm" >
                    <li  class="active"><a href="#">1</a></li>
                    <li ><a href="#">2</a></li>
                    <li ><a href="#">3</a></li>
                </ul>
            </div>
        </div>
    </div>
</ui:composition>