<ui:composition     xmlns:ui="http://java.sun.com/jsf/facelets"
                    xmlns:h="http://java.sun.com/jsf/html">
    <div class="teachers-list-wrapper">
        <h2>TEACHERS</h2>

        <div class="container">
            <div class="row">
                <div class=" col col-lg-4">
                    <div class="teacher-block">
                        <div class="teacher-photo">
                            <h:graphicImage name="img/photo1.png" alt="Teacher 1" />
                        </div>
                        <div class="teacher-info">
                            <p class="speciality">Web designer</p>
                            <p class="info">I had never tried to learn code before
                                out of fear that I wasn't 'techy enough'
                                and probably not smart enough —
                                I was a Mathlete...
                            </p>
                            <p class="name">Nick Sarlo</p>
                        </div>
                    </div>
                </div>
                <div class=" col col-lg-4">
                    <div class="teacher-block">
                        <div class="teacher-photo">
                            <h:graphicImage name="img/photo2.png" alt="Teacher 2" />
                        </div>
                        <div class="teacher-info">
                            <p class="speciality">Web designer</p>
                            <p class="info">I had never tried to learn code before
                                out of fear that I wasn't 'techy enough'
                                and probably not smart enough —
                                I was a Mathlete...
                            </p>
                            <p class="name">Trevor Elwell</p>
                        </div>
                    </div>
                </div>
                <div class=" col col-lg-4">
                    <div class="teacher-block">
                        <div class="teacher-photo">
                            <h:graphicImage name="img/photo3.png" alt="Teacher 3" />
                        </div>
                        <div class="teacher-info">
                            <p class="speciality">Web designer</p>
                            <p class="info">I had never tried to learn code before
                                out of fear that I wasn't 'techy enough'
                                and probably not smart enough —
                                I was a Mathlete...
                            </p>
                            <p class="name">Olga Ayvazyan</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</ui:composition>