 <ui:composition
         xmlns:ui="http://java.sun.com/jsf/facelets"

>
     <h2> Why exactly only online classes?</h2>
     <p class="paragraph">
         OES has been founded in 2014. It consists of a group of developers, teachers and students, which develop educational software platforms and
         solutions to make the learning environment more interactive and highly accessible to everybody, including individuals, institutions and businesses of any Along with the educational
         solutions, we develop non-educational platforms and solutions as well, like web development, mobile application development and much more.
         Other platforms include support for international consultancy agencies regarding international studies, accommodation and immigration.OES also is in possession of an academy,
         which offers a variety of professional IT development courses including programming languages, professional qualifications training from top vendors, computer basics, and more.
         The idea of creating OES started in 2008, when a testing system has been developed and an update was necessary.
         In 2015, this upgrade made its way through e-LAT, a platform with a lot more functionalities and highly user friendly and intuitive interface.
         Our mission is to help individuals, institutions, businesses and everybody involved in education and outside it to have a better experience when combining education and IT
     </p>

 </ui:composition>