
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets">
<footer>
        <div class="container">
            <div class="nav-wrapper" >
                <nav class="navbar">
                    <ul class="nav navbar-nav">
                        <li><a href="">Create Free Account</a></li>
                        <li><a href="">View Courses</a></li>
                        <li><a href="">Suggest Course</a></li>
                        <li><a href="">Suggest Feature</a></li>
                        <li><a href="">Discuss</a></li>
                        <li><a href="">Support</a></li>
                    </ul>
                </nav>
            </div>

            <div class="nav-wrapper" >
                <nav class="navbar">
                    <ul class="nav navbar-nav">
                        <li><a href="">Contact Code School</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Blog</a></li>
                        <li><a href="">Jobs</a></li>
                        <li><a href="">Terms of Use</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="social-block pull-right">
            <span><a href="#" alt="social"><h:graphicImage name="img/g-plus.png" alt="social icon"/></a> </span>
            <span><a href="#" alt="social"><h:graphicImage name="img/twitter.png" alt="social icon"/></a> </span>
            <span><a href="#" alt="social"><h:graphicImage name="img/fb.png" alt="social icon"/></a> </span>
            <span><a href="#" alt="social"><h:graphicImage name="img/insta.png" alt="social icon"/></a> </span>
            <span><a href="#" alt="social"><h:graphicImage name="img/vk.png" alt="social icon"/></a> </span>
        </div>
</footer>
</ui:composition>

