<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:ui="http://java.sun.com/jsf/facelets">
<header>

    <div class="pull-right">
        <div class="right-btn-wrapper">
            <div class="login-btn"><a href="/#login" >Login</a></div>
            <div class="lang-btn"><a href="/#en" title="Change language" >Language</a></div>
        </div>
    </div>

    <div class="container">

        <div class="brand-wrapper pull-left">
            <div class="brand">
                <a href="/" ><h:graphicImage library="img" name="logo.png" /></a>
            </div>
        </div>

        <div class="nav-wrapper main-menu-wrapper">
            <nav class="navbar ">
                <ul class="nav navbar-nav main-menu">
                    <li>
                        <a href="#" id="go-home" >Home</a>
                    </li>
                    <li class="separator"></li>
                    <li><a href="#" >About us</a></li>
                    <li class="separator"></li>
                    <li class="dropdown" ><a href="#" class="dropdown-toggle"  id="curses"  data-toggle="dropdown" >Courses</a>
                        <ul class="dropdown-menu first-level curses" aria-labelledby="curses"  >
                            <li class="dropdown-submenu"  id="dropdownMenu5" >
                                <a  href="#" >Academic</a>
                                <ul class="dropdown-menu  second-level" aria-labelledby="dropdownMenu5">
                                    <li><a href="#"    >GCSE</a></li>
                                    <li><a href="#"   >A Level</a></li>
                                    <li  class="dropdown-submenu"  id="dropdownMenu6">
                                        <a href="#"   > BTEC</a>
                                        <ul class="dropdown-menu third-level" aria-labelledby="dropdownMenu6">
                                            <li><a href="#"    >Level 1</a></li>
                                            <li><a href="#"   >Level 2</a></li>
                                            <li><a href="#"   >Level 3</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#"   > Higher Education</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="#"    >Professional</a>
                                <ul class="dropdown-menu  second-level" >
                                    <li  class="dropdown-submenu">
                                        <a href="#">Software Development</a>
                                        <ul class="dropdown-menu  third-level" >
                                            <li><a href="#"    >Java</a></li>
                                            <li><a href="#"    >C++</a></li>
                                            <li><a href="#"    >C#</a></li>
                                            <li><a href="#"    >Python</a></li>
                                            <li><a href="#"    >Object Oriented Programming</a></li>
                                            <li class="dropdown-submenu ">
                                                <a href="#"    >Web Development</a>
                                                <ul class="dropdown-menu  last-level" >
                                                    <li><a href="#"    >HTML</a></li>
                                                    <li><a href="#"    >CSS</a></li>
                                                    <li><a href="#"    >PHP</a></li>
                                                    <li><a href="#"    >JavaScript</a></li>
                                                    <li><a href="#"    >Java Server Pages</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li  class="dropdown-submenu">
                                        <a href="#">Applications</a>
                                        <ul class="dropdown-menu  last-level" >
                                            <li><a href="#" >Microsoft Office 2016</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="separator"></li>
                    <li><a href="#" >Vacancy</a></li>
                    <li class="separator"></li>
                    <li><a href="#" >Terms and conditions</a></li>
                    <li class="separator"></li>
                    <li><a href="#" >Contact us</a></li>
                </ul>
            </nav>
        </div>

        <p class="free-curses">Try out our free courses now — no credit card required. <button class="btn">View Free Courses</button></p>

    </div>
</header>
</ui:composition>
