<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">
<h:head>
    <h:outputStylesheet library="css" name="styles.css"  />
    <h:outputScript library="js" name="jquery-1.11.3.min.js" />
    <h:outputScript library="js" name="bootstrap.min.js" />
    <title>OES Academy</title>
</h:head>
<h:body>
    <div class="wrapper">
        <div class="page-header">
            <ui:insert name="header" >
                <ui:include src="/templates/common/header.xhtml" />
            </ui:insert>
        </div>

        <ui:insert name="carusel">
            <ui:include src="/templates/modules/carusel.xhtml" />
        </ui:insert>

        <div class="container first-screen-wrapper">
            <ui:insert name="content" >
                <ui:include src="/templates/common/content.xhtml" />
            </ui:insert>
        </div>

        <ui:insert name="news">
            <ui:include src="/templates/modules/news.xhtml" />
        </ui:insert>

        <ui:insert name="curses">
            <ui:include src="/templates/modules/curse-overview.xhtml" />
        </ui:insert>

        <ui:insert name="teachers">
            <ui:include src="/templates/modules/teachers-overview.xhtml" />
        </ui:insert>

        <div class="page-footer">
            <ui:insert name="footer" >
                <ui:include src="/templates/common/footer.xhtml" />
            </ui:insert>
        </div>
    </div>
</h:body>
</html>
